# CHANGE .env.example => .env
DISCORD_TOKEN="DISCORD_TOKEN" #https://github.com/reactiflux/discord-irc/wiki/creating-a-discord-bot-&-getting-a-token
DISCORD_CLIENT_ID="DISCORD_CLIENT_ID" #https://docs.kinde.com/authenticate/social-sign-in/discord/#:~:text=Log%20in%20to%20the%20Discord,not%20showing%2C%20select%20Reset%20Secret.
MEMBER_ROLE_ID="DISCORD_ROLE_ID" #https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID